// =============================================================================
// COLORS
// =============================================================================

$color-black: #262626 !default;
$color-grey: #a7a7a7 !default;
$color-yellow: #faca33 !default;
$color-white: #ffffff !default;

$color-light-grey: #eeeeee !default;
