// =============================================================================
// TYPOGRAPHY
// =============================================================================

$font-size-base: 16px !default;
$line-height-base: 1.6 !default;

$font-xl: 35px;
$font-lg: 20px;
$font-size: 16px;
$font-sm: 13px;
$font-xs: 11px;

$font-size-xxs: 0.7em;
$font-size-xs: 0.8em;
$font-size-sm: 0.9em;
$font-size-md: 1em;
$font-size-lg: 1.2em;
$font-size-xl: 1.3em;
$font-size-xxl: 2.8em;
