// =============================================================================
// PRINT
// =============================================================================

@media print {
	html {
		font-family: $font-family-serif;
		font-size: 11pt;
		line-height: 1.4;
	}
}
