// TODO: Rewrite to best practices

.c-open-source {

  &__item {
    display: block;
    padding: 1em;
    margin: 1em 0;
    border-bottom: 1px solid $color-grey;

    $root: &;

    &:hover {
      cursor: pointer;
      text-decoration: none;

      h4 {
        text-decoration: underline;
      }
    }

    h4 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }
  }
}