---
layout: page
title: Blog
---

{% for post in paginator.posts %}

<article class="c-excerpt">
	<h2 class="c-excerpt__heading">
		<a href="
		{% if post.blogurl %}
			{{ post.blogurl }}
		{% elsif site.baseurl == "/" %}
			{{ post.url }}
		{% else %}
			{{ post.url | prepend: site.baseurl }}
		{% endif %}">
			{%if post.header %}
				{{ post.header }}
			{% else %}
				{{ post.title }}
			{% endif %}
		</a>
	</h2>

	{% include byline-post.html %}

	<p class="c-excerpt__content">
		{{ post.content | strip_html | truncatewords:25 }}
	</p>
</article>

{% endfor %}
