.c-footer {
	max-width: 62em;
	margin: 2em auto 0;
	padding: 4em 3em;
	border-top: 1px $color-light-grey solid;
	font-size: $font-sm;

	@supports (display: grid) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
