.c-link {
  position: relative;

  &:after {
    content: '';
    height: .25em;
    position: absolute;
    top: 110%;
    left: 0;
    background: $color-yellow;
    z-index: 1;
    width: 100%;
    transition: 300ms;
  }

  &:hover {
    text-decoration: none;
  }

  &:hover:after {
    top: 50%;
  }
}
